button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 17px;
  display: inline-block;
  padding: 0.5rem;
  width: 250px;
  height: 40px;
  background-color: #0000;
  border-radius: 5px;
  color: #fff;
  background: #000;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: all 0.2s ease-out;
}
button:hover {
  box-shadow: 0 5px 10px #b4b4b4;
  transform: translateY(-2px);
}
