.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  width: 100%;
  background-color: rgb(27, 27, 27);
  box-shadow: 0 12px 7px #0000000a;
}
.navWrapp {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .navWrapp {
    width: 60%;
  }
}
